body{
    background-color: cornsilk;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(16, 1fr);
    row-gap: 2px;
    column-gap: 2px;
    margin: 0 auto;
    height: 20px;
    width: 20px;
}

.pixels{
    height: 20px;
    width: 20px;
    background-color: rgb(180, 178, 178);
    animation: expand 10s infinite ease;
}

@keyframes expand{
    0%{
    }
    50%{
        height: 40px;
        width: 40px;
        border-radius: 20px;
        transform: rotate(720deg);
    }
    100%{
    }
}

/*RED COLOR*/
.p4,.p5,.p6,.p7,.p8,
.p15,.p16,.p17,.p18,.p19,.p20,.p21,.p22,.p23,
.p88,.p90,.p91,.p92,
.p98,.p99,.p100,.p102,.p103,.p105,.p106,.p107,
.p109,.p110,.p111,.p112,.p117,.p118,.p119,.p120,
.p123,.p130
{
    background-color: rgb(211, 6, 6);
}

/*BLUE COLOR*/
.p89,
.p101,.p104,
.p113,.p114,.p115,.p116,
.p124,.p126,.p127,.p129,
.p136,.p137,.p138,.p139,.p140,.p141,
.p147,.p148,.p149,.p150,.p151,.p152,.p153,.p154,
.p159,.p160,.p161,.p164,.p165,.p166{
    background-color: blue;
}

/*WHITE COLOR*/

.p121,.p122,.p131,.p132,
.p133,.p134,.p135,.p142,.p143,.p144,
.p145,.p146,.p155,.p156{
    background-color: rgb(255, 255, 255);
}

/*BLACK*/
.p32,
.p44,
.p57,
.p68,.p69,.p70,.p71{
    background-color: black;
}

/*BROWN COLOR*/
.p27,.p28,.p29,
.p38,.p40,.p50,
.p52,.p53,
.p62,.p63,
.p170,.p171,.p172,.p177,.p178,.p179,
.p181,.p182,.p183,.p184,.p189,.p190,.p191,.p192
{
    background-color: rgb(124, 34, 34);
}

/*SKIN COLOR*/
.p30,.p31,.p33,
.p39,.p41,.p42,.p43,
.p45,.p46,.p47,
.p51,.p54,.p55,.p56,.p58,.p59,.p60,
.p64,.p65,.p66,.p67,
.p76,.p77,.p78,.p79,.p80,.p81,.p82{
    background-color: burlywood;
}

/*YELLOW COLOR*/
.p125,.p128{
    background-color: yellow;
}


